{% extends 'page.html.twig' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            Check Results {{ result[0].getName() }}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover fs-5">
                {% for result in results%}
                <thead>
                    <tr>
                        <th>Performed</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% set bg = statusMap[result.getId()] == true ? 'success' : 'danger' %}
                    {% set text = statusMap[result.getId()] == true ? 'OK' : 'FAILED' %}

                    <tr>
                        <td>
                            {{ result.getPerformed()|date('d.m.Y H:i:s') }}
                        </td>
                        <td>
                            <label class="badge bg-{{bg}}">{{ text }}</label>
                        </td>
                        <td>
                            <a href="/checkResult?q={{ result.getId() }}" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
                        {% if statusMap[result.getId()] == false %}
                        {% for result in checkResults[result.getId()] %}
                            <tr>
                                <td colspan="3" class="fs-6 ps-5">  
                                    {{ result.getCheck().getName() }}
                                </td>
                            </tr>
                    {% endfor %}
                    {%endif%}
                </tbody>
                {% endfor %}
            </table>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="/environmentResults?q={{ results[0].getCheckableEnvironment.getId() }}&p=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        {% if page > 2 %}
                            <li class="page-item">
                                <a class="page-link" href="/environmentResults?q={{ results[0].getCheckableEnvironment().getId() }}&p={{ page - 2 }}">{{ page - 2}}</a>
                            </li>
                        {% endif %}

                        {% if page > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="/environmentResults?q={{ results[0].getCheckableEnvironment().getId() }}&p={{ page - 1 }}">{{ page - 1}}</a>
                            </li>
                        {% endif %}

                        <li class="page-item active"><a class="page-link" href="">{{ page }}</a></li>

                        {% if page != maxPages %}
                        <li class="page-item">
                            <a class="page-link" href="/environmentResults?q={{ results[0].getCheckableEnvironment().getId() }}&p={{ page + 1 }}">{{ page + 1 }}</a>
                        </li>
                        {% endif %}

                        {% if page + 1 < maxPages %}
                            <li class="page-item">
                                <a class="page-link" href="/environmentResults?q={{ results[0].getCheckableEnvironment().getId() }}&p={{ page + 2 }}">{{ page + 2 }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link" href="/environmentResults?q={{ results[0].getCheckableEnvironment().getId() }}&p={{ maxPages }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}